@charset

body{
    margin:0 ;
}

.header{
    background: red;
    width: 980;
    height: 80apx;
    text-align: center;
    color: #fff;
    margin left: auto;
    margin right: auto;
}
.main-wraps{
    background: blue;
    width: 980;
    height: 500apx;
    text-align: center;
    color: #fff;
    margin left: auto;
    margin right: auto;
}
.main{
    background: blue;
    width: 680;
    height: 500apx;
    text-align: center;
    color: #fff;
    margin left: auto;
    margin right: auto;
}

.aside{
    background: green;
    width: 300;
    height: 500apx;
    text-align: center;
    color: #fff;
    float

.footer{
    background: Black;
    width: 980;
    height: 80apx;
    text-align: center;
    color: #fff;
    margin left: auto;
    margin right: auto;
}