@charset

body{
    margin:0 auto;
}

.header{
    background: red;
    width: 980;
    height: 80apx;
    text-align: center;
    color: #fff;
}

.main{
    background: blue;
    width: 980;
    height: 500apx;
    text-align: center;
    color: #fff;
}

.footer{
    background: Black;
    width: 980;
    height: 80apx;
    text-align: center;
    color: #fff;
}
